# Exercise Question

Author name: Aradhya Goswami
Class III BTECH DSE
Section B Batch 1
Week 1

### Python program to find the average of 10 numbers using while loop

In [14]:
sum=0
count=0
while (count<10):
    n=int(input("Enter the numbers:"))
    sum= sum + n
    count=count+1
    average= sum/10
    print("the average of the entered number is:",average)

Enter the numbers:1
the average of the entered number is: 0.1
Enter the numbers:2
the average of the entered number is: 0.3
Enter the numbers:3
the average of the entered number is: 0.6
Enter the numbers:4
the average of the entered number is: 1.0
Enter the numbers:5
the average of the entered number is: 1.5
Enter the numbers:6
the average of the entered number is: 2.1
Enter the numbers:7
the average of the entered number is: 2.8
Enter the numbers:8
the average of the entered number is: 3.6
Enter the numbers:9
the average of the entered number is: 4.5
Enter the numbers:10
the average of the entered number is: 5.5

### Python program to find the geometric mean of n numbers

In [17]:
import math
n = [6, 7, 3, 9, 10, 15]
print("The original list is : " + str(n))
temp = 1
for i in range(0, len(test_list)) :
    temp = temp * test_list[i]
temp2 = (float)(math.pow(temp, (1 / len (n))))
res = (float)(temp2)
print("The geometric mean of list is : " + str(res))

The original list is : [6, 7, 3, 9, 10, 15]
The geometric mean of list is : 7.443617568993922

### Python program to check whether the given integer is a prime number or not

In [8]:
num=11
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
          print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

###  Python program to implement linear search and implement binary search

In [3]:
print("Program to implement linear search")
a=[]
n=int(input("Enter the number of elements in the array"))
for i in range(0,n):
    c=int(input("Enter your number"))
    a.append(c)
d=int(input("Enter the number to be searched"))
for i in range(0,n):
    if(a[i]==d):
        flag=1
        pos=i+1
        break
    else:
        flag=0
if(flag==1):
        print("the item has been searched and found at the position ",pos)
else:
        print("item not found")

Program to implement linear search
Enter the number of elements in the array1
Enter your number2
Enter the number to be searched2
the item has been searched and found at the position  1

In [4]:
print("Program to implement binary search")
a=[]
n=int(input("Enter the number of elements in the array"))
for i in range(0,n):
    c=int(input("Enter your number"))
    a.append(c)
d=int(input("Enter number to be searched"))
low=0
high=n-1

while(low<=high):
    mid=(low+high)//2
    if(d==a[mid]):
        pos=mid+1
        flag=1
        break
    if(d>a[mid]):
        low=mid+1
    else:
        high=mid+1
if(flag==1):
        print("The number has been searched and found at positon: ",pos)
else:
    print("Item not found")

Program to implement binary search
Enter the number of elements in the array4
Enter your number1
Enter your number2
Enter your number3
Enter your number4
Enter number to be searched3
The number has been searched and found at positon:  3

### Python program to find the area of a triangle whose sides are given

In [18]:
import math 
b=int(input("Enter the breadth of the triangle:"))
h=int(input("Enter the height of the triangle:"))
area= 0.5*b*h
print("The area of the triangle is:",area)

Enter the breadth of the triangle:3
Enter the height of the triangle:4
The area of the triangle is: 6.0

# Exercise

###  A data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3

In [5]:
import pandas as pd

In [6]:
sample={
    "Roll number":[1,2,3,4,5,6,7,8,9,10],
    "Name":["a","b","c","d","e","f","g","h","i","j"],
    "Gender":["m","f","m","f","m","f","m","f","m","f"],
    "Marks1":[12,43,16,75,62,24,16,98,79,82],
    "Marks2":[12,43,16,75,62,24,16,98,79,82],
    "Marks3":[12,43,16,75,62,24,16,98,79,82],
}
df=pd.DataFrame(sample)
print(df)

   Roll number Name Gender  Marks1  Marks2  Marks3
0            1    a      m      12      12      12
1            2    b      f      43      43      43
2            3    c      m      16      16      16
3            4    d      f      75      75      75
4            5    e      m      62      62      62
5            6    f      f      24      24      24
6            7    g      m      16      16      16
7            8    h      f      98      98      98
8            9    i      m      79      79      79
9           10    j      f      82      82      82

In [7]:
print(df.Marks1)

0    12
1    43
2    16
3    75
4    62
5    24
6    16
7    98
8    79
9    82
Name: Marks1, dtype: int64

### Create a new column with total marks

In [8]:
df["total"]=df.Marks1+df.Marks2+df.Marks3
print(df)

   Roll number Name Gender  Marks1  Marks2  Marks3  total
0            1    a      m      12      12      12     36
1            2    b      f      43      43      43    129
2            3    c      m      16      16      16     48
3            4    d      f      75      75      75    225
4            5    e      m      62      62      62    186
5            6    f      f      24      24      24     72
6            7    g      m      16      16      16     48
7            8    h      f      98      98      98    294
8            9    i      m      79      79      79    237
9           10    j      f      82      82      82    246

### Find the lowest marks in Marks1

In [9]:
low= df.Marks1.min()
print("lowest marks in marks1: ",low)

lowest marks in marks1:  12

### Find the Highest marks in Marks2

In [10]:
high= df.Marks2.max()
print("highest marks in marks1: ",high)

highest marks in marks1:  98

### Find the average marks in Marks3

In [11]:
avg= df.Marks3.mean()
print("the average marks in marks3: ",avg)

the average marks in marks3:  50.7

### Find student name with highest average

In [12]:
list(df[df["total"]==df["total"].max()].get("Name"))[0]

'h'

### Find how many students failed in Marks2 (<40)

In [14]:
len(df[df['Marks2']<40])

4